*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container{
    margin: 5px 5px;
    border: red 2px solid ;
    width: 99.2%;
    height: auto;
    display: block;
    text-align: center;
}

#container h1{
    margin-bottom: 5px;
    font-size: 4rem;
    color: rgb(33, 79, 121);
    font-family: 'Script MT Bold', cursive, sans-serif;
}

#container h2{
    margin-bottom: 5px;
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(171, 49, 40);
}

#container h3{
    margin-bottom: 5px;
    font-size: 2.2rem;
    font-weight: initial;

}

#container h4{
    font-size: 1.8rem;
    font-weight: initial;
}

hr{
    border: .1vh solid rgb(200, 175, 92);
    align-self: center;
    width: 550px;
    margin-right: auto;
    margin-left: auto;
}